/* 미디어 쿼리: 너비 393px 이하, 높이 852px 이하 */
@media screen and (max-width: 393px) and (max-height: 852px) {
    body {
        background-color: #F2F3ED;
    }

    .container {
        width: 100%;
        padding: 10px;
        background-color: #F2F3ED;
    }

   h1 {
        padding-left: 25px;
        padding-top: 20px
   }

    h2 {
        text-align: center;
        color: #577658;
        padding-bottom: 20px;
   }

   .circle-content {
    width: 100%;
    display: flex;
    justify-content: center;
   }

   .circle {
    margin-top: 30px;
    display: flex;
    justify-content: center;  /*가로 정렬*/    
    align-items: center;  /*세로 정렬*/
    width: 57px;
    height: 57px;
    background: #C3D59B;
    border-radius: 50%
   }

   .square {
        width: 335px;
        height: 679px;
        background-color: #FFFFFF;
        margin: 35px auto;
        border-radius: 40px;
    }

    p {
        font-size: 14px;
    }

    .btn-content {
        display: flex;
        justify-content: center;  /*가로 정렬*/    
        align-items: center;
        flex-direction: column;
        /*column : 요소 세로 정렬*/
        /*row : 요소 가로 정렬*/
        row-gap: 20px;
    }

    .btn {
        border-radius: 50px;
        background: #C3D59B;
        border: none;
        padding: 25px 35%;
    }
}